table{ 
width: 100px;
height: 100%;
text-align: center; 
background-color: blue;
}

tr{
    background-color: cadetblue;
    color: maroon
}
td{background-color: turquoise;
color: black;
}
tr{background-color: rebeccapurple;
    color: seagreen;
}

    



    

    

    
    
    
    
    
    



    
    
    


    
     
    
    
    





    
    
    
    
    
    



    


    

